/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
@import "base";

html, body	{	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
				background: #121212;
				color: #eee;
			}
			
			
#block-views-construction-block	{	.view-content	{	.views-field-title	{	font-size: 4em;
																				padding-top: 30%;
																				font-weight: bold;
																				letter-spacing: -.05em;
																			}
													}
								}			
